$color-primario: #323232;////Color más oscuro de la paleta
$color-secundario: #4b331e;//CTA's
$color-terceario: #313f48; //Hover
$color-cuaternario: #bbbead; //Color de resalte sobre fondos oscuros
$color-quinario: #a4aead; //Titulos en general
$color-sexteario: #f1f1f1;

//caracteristicas del header

$header: white; // Color del header al cargar la pagina
$header-texto: $color-primario; //Color del texto del header
$header-texto-hover: $color-terceario; //darken($header-texto, 15%);

//caracteristicas del footer

$footer: $color-primario;
$footer-texto: $color-cuaternario; //white;

$color-titulos: $color-primario;
$color-textos: darken($color-titulos, 15%);

.titulo {
  color: $color-titulos;
}

.texto {
  color: $color-textos;
}

h1 {
  font-size: 2.85rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.65rem !important;
}

h4 {
  font-size: 1.45rem !important;
}

p {
  font-size: 1.15rem !important;
}

$mobile-h1-font-size: 1.8rem !important;
$mobile-h2-font-size: 1.8rem !important;
$mobile-h3-font-size: 1.5rem !important;
$mobile-h4-font-size: 1.25rem !important;
$mobile-p-font-size: 1rem !important;
@media (max-width: 600px) {
  h1 {
    font-size: $mobile-h1-font-size;
  }
  h2 {
    font-size: $mobile-h2-font-size;
  }
  h3 {
    font-size: $mobile-h3-font-size;
  }
  h4 {
    font-size: $mobile-h4-font-size;
  }
  p {
    font-size: $mobile-p-font-size;
  }
}

$larguraMaxTela: 1920px;

body {
  //background-color: #000;
  //max-width: $larguraMaxTela;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // margin: auto !important;

  .navbar-fixed {
    position: relative;
    height: 100px;
    z-index: 998;

    nav {
      background-color: $header;
      box-shadow: none;
      height: 100px;
      a.brand-logo {
        //width: auto;
        max-width: 308px;
        height: auto;
        img.img-logo {
          max-height: 100%; //60px;
        }
      }
      ul {
        li {
          a {
            //height: 100px;
            color: $header-texto;
            //padding-top: 20px;
            //padding-bottom: 25px;
            &:hover {
              color: $header-texto-hover;
              background-color: unset;
            }
          }
        }
      }
      .sidenav-trigger {
        color: $header-texto !important;
        float: right;
      }
      .sidenav {
        background-color: $color-sexteario !important;
      }
    }
  }

  .entrada-principal {
    background-color: $color-terceario;
    display: flex;
    align-items: center;
    height: 250px;
    width: 100%;
    div.container {
      .titulo {
        color: $color-cuaternario;
        font-weight: 800;
        font-size: 4rem !important;
        // text-decoration: underline;
        span {
          font-size: 0.675em;
          font-weight: normal;
          text-decoration: underline;
        }
      }
      .texto {
        color: $color-quinario;
      }
    }
  }

  main {
    flex: 1 0 auto;
    max-width: $larguraMaxTela;
    margin: auto !important;

    .nuevos-articulos {
      .articulos-grid {
        display: flex;
        width: 85%;
        margin: auto;
        .card-articulo {
          width: 33.33%;
          margin: auto;
          .card {
            border-radius: 5px;
            box-shadow: 0 17px 65px 0 rgba(5,24,51,.35);
            .card-image {
              height: 200px;
              width: auto;
              border-radius: 5px 5px 0 0;
              img {
                min-height: -webkit-fill-available;
              }
            }
          }
          @media screen and (max-width:992px) {
            width: 90%;
            margin: auto;
            .card {
              .card-image {
                height: 275px;
                width: auto;
                img{
                  min-height: -webkit-fill-available;
                }
              }
            }
            
          }
        }
        @media screen and (max-width:992px) {
          flex-direction: column;
        }
      }
    }

    .articulos-destaque {
      background-color: $color-sexteario;
      padding-top: 15px;
      .texto-articulos-destaque {
        margin-bottom: 45px;
      
      }

      .articulos-destaque-grid {
        .articulo-destacado {
          display: flex;
          margin-bottom: 25px;
          .texto-articulo-destacado {
            width: 45%;
            margin: auto;
          }
          .img-articulo-destacado {
            width: 45%;
            margin: auto;
          }
          @media screen and (max-width: 992px) {
            flex-direction: column;
            .texto-articulo-destacado {
              width: 95%;
              margin: auto;
            }
            .img-articulo-destacado {
              width: 95%;
              margin: auto;
            }
          }
          
        }
      }
    }
  }

  .page-footer {
    background-color: $footer !important;
    color: $footer-texto !important;
    .container {
      .row {
        .center {
          ul {
            li {
              p {
                color: $footer-texto !important;
                margin-top: 5px;
                margin-bottom: 5px;
                a {
                  color: darken($footer-texto, 15%) !important;
                }
              }
            }
          }
          .links-contacto {
            height: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            ul {
              margin: 0px;
              li {
                display: inline-block;
                height: 40px;
                width: 100px;
                position: relative;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .footer-copyright {
      background-color: darken($footer, 15%) !important;
      color: $footer-texto !important;
      div {
        a {
          color: darken($footer-texto, 15%) !important;
        }
      }
    }
  }
}