.titulo {
  color: #323232;
}

.texto {
  color: #0c0c0c;
}

h1 {
  font-size: 2.85rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.65rem !important;
}

h4 {
  font-size: 1.45rem !important;
}

p {
  font-size: 1.15rem !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1.25rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .navbar-fixed {
  position: relative;
  height: 100px;
  z-index: 998;
}

body .navbar-fixed nav {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100px;
}

body .navbar-fixed nav a.brand-logo {
  max-width: 308px;
  height: auto;
}

body .navbar-fixed nav a.brand-logo img.img-logo {
  max-height: 100%;
}

body .navbar-fixed nav ul li a {
  color: #323232;
}

body .navbar-fixed nav ul li a:hover {
  color: #313f48;
  background-color: unset;
}

body .navbar-fixed nav .sidenav-trigger {
  color: #323232 !important;
  float: right;
}

body .navbar-fixed nav .sidenav {
  background-color: #f1f1f1 !important;
}

body .navbar-fixed nav .dropdown-content {
  width: auto !important;
  height: auto !important;
}

@media screen and (max-width: 992px) {
  body .navbar-fixed nav .dropdown-content {
    width: 300px !important;
  }
}

body .entrada-principal {
  background-color: #313f48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 100%;
}

body .entrada-principal div.container .titulo {
  color: #bbbead;
  font-weight: 800;
  font-size: 4rem !important;
}

body .entrada-principal div.container .titulo span {
  font-size: 0.675em;
  font-weight: normal;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  body .entrada-principal div.container .titulo {
    font-size: 2.5rem !important;
  }
}

body .entrada-principal div.container .texto {
  color: #a4aead;
}

@media screen and (max-width: 600px) {
  body .entrada-principal div.container .texto {
    font-size: 1rem !important;
  }
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 1920px;
  margin: auto !important;
}

body main .nuevos-articulos .texto-nuevos-articulos .titulo {
  font-weight: bold;
  font-size: 3.25rem !important;
  font-variant: small-caps;
}

@media screen and (max-width: 600px) {
  body main .nuevos-articulos .texto-nuevos-articulos .titulo {
    font-size: 2rem !important;
  }
}

body main .nuevos-articulos .articulos-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
}

body main .nuevos-articulos .articulos-grid .card-articulo {
  width: 33.33%;
  margin: auto;
}

body main .nuevos-articulos .articulos-grid .card-articulo .card {
  border-radius: 5px;
  -webkit-box-shadow: 0 17px 65px 0 rgba(5, 24, 51, 0.35);
          box-shadow: 0 17px 65px 0 rgba(5, 24, 51, 0.35);
}

body main .nuevos-articulos .articulos-grid .card-articulo .card .card-image {
  height: 200px;
  width: auto;
  border-radius: 5px 5px 0 0;
}

body main .nuevos-articulos .articulos-grid .card-articulo .card .card-image img {
  min-height: -webkit-fill-available;
}

@media screen and (max-width: 992px) {
  body main .nuevos-articulos .articulos-grid .card-articulo {
    width: 90%;
    margin: auto;
  }
  body main .nuevos-articulos .articulos-grid .card-articulo .card .card-image {
    height: 275px;
    width: auto;
  }
  body main .nuevos-articulos .articulos-grid .card-articulo .card .card-image img {
    min-height: -webkit-fill-available;
  }
}

@media screen and (max-width: 992px) {
  body main .nuevos-articulos .articulos-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .articulos-destaque {
  background-color: #f1f1f1;
  padding-top: 15px;
}

body main .articulos-destaque .texto-articulos-destaque {
  margin-bottom: 45px;
}

body main .articulos-destaque .articulos-destaque-grid .articulo-destacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .texto-articulo-destacado {
  width: 45%;
  margin: auto;
}

body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .texto-articulo-destacado .titulo {
  font-weight: bold;
  font-size: 3.25rem !important;
  font-variant: small-caps;
}

body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .img-articulo-destacado {
  width: 45%;
  margin: auto;
}

body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .img-articulo-destacado img {
  border-radius: 2px;
}

@media screen and (max-width: 992px) {
  body main .articulos-destaque .articulos-destaque-grid .articulo-destacado {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .texto-articulo-destacado {
    width: 95%;
    margin: auto;
  }
  body main .articulos-destaque .articulos-destaque-grid .articulo-destacado .img-articulo-destacado {
    width: 95%;
    margin: auto;
  }
}

body .page-footer {
  background-color: #323232 !important;
  color: #bbbead !important;
}

body .page-footer .container .row .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-footer .container .row .center .contactanos {
  width: 50%;
}

body .page-footer .container .row .center .contactanos ul li p {
  color: #bbbead !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

body .page-footer .container .row .center .contactanos ul li p a {
  color: #989c82 !important;
}

body .page-footer .container .row .center .contactanos ul li p a:hover {
  color: #dee0d8 !important;
}

body .page-footer .container .row .center .links-contacto {
  width: 50%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .page-footer .container .row .center .links-contacto ul {
  margin: 0px;
}

body .page-footer .container .row .center .links-contacto ul li {
  display: inline-block;
  height: 40px;
  width: 100px;
  position: relative;
  overflow: hidden;
}

body .page-footer .container .row .center .links-contacto ul li a {
  font-size: 1.2rem;
  color: #989c82 !important;
}

body .page-footer .container .row .center .links-contacto ul li a:hover {
  color: #dee0d8 !important;
}

@media screen and (max-width: 992px) {
  body .page-footer .container .row .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .page-footer .footer-copyright {
  background-color: #0c0c0c !important;
  color: #bbbead !important;
}

body .page-footer .footer-copyright div a {
  color: #989c82 !important;
}
/*# sourceMappingURL=style-home.css.map */